<script>
import { createEventDispatcher } from "svelte"
const dispatch = createEventDispatcher()
function eventHandler (e, props, arg) { for(let i in props) { if (i = 'on:'+e) { if (typeof props[i] === 'function') {props[i](arg)} else {dispatch(e, arg)} break } } }
import Button from '@identomat-web-module-manage/button/main.svelte'
export let buttonBackProps = {}
export let buttonCopySessionIdProps = {}
export let buttonProps = {}
//export let buttonProps = {}
//export let buttonProps = {}
import DropdownButton from '@identomat-web-module-manage/dropdown-button/main.svelte'
export let dropdownButtonMenuProps = {}
import Badge from '@identomat-web-module-manage/badge/main.svelte'
export let badgeStatusProps = {}
import Tab from '@identomat-web-module-manage/tab/main.svelte'
export let tabProps = {}
export let facePhoto = ''
export let name = ''
</script>
<input type="hidden" id="anPageName" name="page" value="10_8730">
    <div class="main-container">
      <header class="header">
        <Button {...buttonBackProps} on:click="{e=>eventHandler('click', buttonBackProps, e)}"/>
        <img class="line-99 line-1" src="/module-assets/manage-session/header/images/line-99.svg" alt="Line 99">
        <div class="frame-90256 frame">
          <Button {...buttonCopySessionIdProps} on:click="{e=>eventHandler('click', buttonCopySessionIdProps, e)}"/>
        </div>
        <div class="frame-903 frame">
          <div class="frame-903 frame">
            <Button {...buttonProps} on:click="{e=>eventHandler('click', buttonProps, e)}"/>
            <Button {...buttonProps} on:click="{e=>eventHandler('click', buttonProps, e)}"/>
            <Button {...buttonProps} on:click="{e=>eventHandler('click', buttonProps, e)}"/>
            <DropdownButton {...dropdownButtonMenuProps} on:click="{e=>eventHandler('click', dropdownButtonMenuProps, e)}"/>
          </div>
        </div>
      </header>
      <div class="content">
        <div class="idm-var_face-photo">{facePhoto}</div>
        <div class="text-and-supporting-text">
          <div class="name-and-badge">
            <div class="idm-var_name">{name}</div>
            <Badge {...badgeStatusProps} />
          </div>
          <div class="date arial-regular-normal-black-14px">
            <div class="idm-var">Verification</div>
            <img class="line line-1" src="/module-assets/manage-session/header/images/line-99-1.svg" alt="Line 99">
            <div class="idm-var">17. Jan. 2023</div>
            <img class="line line-1" src="/module-assets/manage-session/header/images/line-99-1.svg" alt="Line 101">
            <div class="idm-var">13:10</div>
          </div>
        </div>
        <div class="idm-slot_approve-reject"><slot name="approveReject"></slot></div>
      </div>
<!--      <Tab {...tabProps} on:change="{e=>eventHandler('change', tabProps, e)}"/> -->
    </div>
<style>

/* The following line is used to measure usage of this code in production. For more info see our usage billing page */


@font-face {
  font-family: "Arial-Bold";
  font-style: normal;
  font-weight: 700;
  src: url("/module-assets/manage-session/header/fonts/FontsFree-Net-arial-bold.ttf") format("truetype");
}
@font-face {
  font-family: "Arial-Regular";
  font-style: normal;
  font-weight: 400;
  src: url("/module-assets/manage-session/header/fonts/Arial regular.ttf") format("truetype");
}


.valign-text-middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

* {
  box-sizing: border-box;
}

:root { 
  --amethyst: #5c5c99;
  --black: #000000;
  --white: #ffffff;
 
  --font-size-l: 16px;
  --font-size-m: 14px;
  --font-size-s: 12px;
  --font-size-xl: 20px;
 
  --font-family-arial-bold: "Arial-Bold", Helvetica;
  --font-family-arial-regular: "Arial-Regular", Helvetica;
}
.arial-bold-amethyst-14px {
  color: var(--amethyst);
  font-family: var(--font-family-arial-bold);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 700;
}

.arial-regular-normal-black-14px {
  color: var(--black);
  font-family: var(--font-family-arial-regular);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

/* screen - 10_8730 */

.main-container {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 8px 24px 0px;
  position: relative;
  width: 1365px;
}

.header {
  align-items: center;
  background-color: transparent;
  display: flex;
  gap: 16px;
  height: auto;
  position: relative;
  width: fit-content;
}

.idm-mod_manage_button_back {
  align-items: center;
  display: flex;
  gap: 8px;
  height: 32px;
  justify-content: center;
  padding: 4px 8px 4px 4px;
  position: relative;
  width: fit-content;
}

.chevron-left {
  height: 20px;
  min-width: 20px;
  position: relative;
}

.cta-button-1 {
  letter-spacing: 0;
  line-height: 19.6px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.line-99 {
  height: 24px;
}

.frame-90256 {
  gap: 8px;
  width: 843px;
}

.idm-mod_manage_button_copy-session-id {
  align-items: center;
  display: flex;
  gap: 8px;
  height: 32px;
  justify-content: center;
  padding: 4px 12px;
  position: relative;
  width: fit-content;
}

.icon-copy {
  height: 20px;
  min-width: 20px;
  position: relative;
}

.copy-session-id {
  letter-spacing: 0;
  line-height: 19.6px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.frame-903 {
  width: fit-content;
}

.idm-mod_manage_button {
  align-items: center;
  border: 0px none;
  border-radius: 6px;
  display: flex;
  gap: 8px;
  height: 32px;
  justify-content: center;
  padding: 8px 12px;
  position: relative;
  width: fit-content;
}

.cta-button {
  letter-spacing: 0;
  line-height: 19.6px;
  margin-bottom: -2.00px;
  margin-top: -2.00px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.idm-mod_manage_dropdown-button_menu {
  align-items: flex-start;
  border-radius: 6px;
  display: flex;
  padding: 4px;
  position: relative;
  width: fit-content;
}

.dots-vertical {
  height: 20px;
  min-width: 20px;
  position: relative;
}

.content {
  align-items: center;
  align-self: stretch;
  background-color: #f2f4f7;
  border-radius: 8px;
  display: flex;
  gap: 16px;
  padding: 12px;
  position: relative;
}

.idm-var_face-photo {
  border-radius: 8px;
  height: 48px;
  min-width: 48px;
  position: relative;
}

.photo-somehting {
  border: 3px solid;
  border-color: var(--white);
  border-radius: 8px;
  box-shadow: 0px 2px 4px -2px #1018280f , 0px 4px 8px -2px #1018281a;
  height: 54px;
  left: -3px;
  position: relative;
  top: -3px;
  width: 54px;
}

.text-and-supporting-text {
  align-items: flex-start;
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 8px;
  justify-content: center;
  position: relative;
}

.name-and-badge {
  align-items: center;
  display: flex;
  gap: 16px;
  position: relative;
  width: 310px;
}

.idm-var_name {
  color: #101828;
  font-family: var(--font-family-arial-bold);
  font-size: var(--font-size-xl);
  font-weight: 700;
  letter-spacing: 0;
  line-height: 22px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.idm-mod_manage_badge_status {
  align-items: flex-start;
  display: flex;
  position: relative;
  width: fit-content;
}

.badge {
  align-items: flex-start;
  mix-blend-mode: multiply;
}

.badge-base {
  align-items: center;
  background-color: #d8caff;
  border-radius: 16px;
  gap: 6px;
  justify-content: center;
  padding: 2px 8px 2px 6px;
}

.dot {
  height: 8px;
  min-width: 8px;
  position: relative;
}

.dot-1 {
  background-color: #501be6;
  border-radius: 3px;
  height: 6px;
  left: 1px;
  position: relative;
  top: 1px;
  width: 6px;
}

.text-1 {
  color: #4317bf;
  font-family: var(--font-family-arial-regular);
  font-size: var(--font-size-s);
  font-weight: 400;
  line-height: 16px;
  text-align: center;
}

.date {
  align-items: center;
  display: flex;
  gap: 16px;
  position: relative;
  width: 372px;
}

.idm-var {
  letter-spacing: 0;
  line-height: 19.6px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.line {
  height: 16px;
}

.idm-slot_approve-reject {
  align-items: center;
  display: flex;
  gap: 12px;
  position: relative;
  width: fit-content;
}

.reject-button {
  align-items: center;
  background-color: var(--white);
  border: 1px solid;
  border-color: #f04437;
  border-radius: 6px;
  display: flex;
  gap: 8px;
  height: 36px;
  justify-content: center;
  padding: 8px 12px;
  position: relative;
  width: 100px;
}

.reject {
  color: #f04437;
  font-family: var(--font-family-arial-bold);
  font-size: var(--font-size-m);
  font-weight: 700;
  letter-spacing: 0;
  line-height: 19.6px;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.approve-button {
  align-items: center;
  background-color: var(--white);
  border: 1px solid;
  border-color: #00b671;
  border-radius: 6px;
  display: flex;
  gap: 8px;
  height: 36px;
  justify-content: center;
  padding: 8px 12px;
  position: relative;
  width: 100px;
}

.approve {
  color: #00b671;
  font-family: var(--font-family-arial-bold);
  font-size: var(--font-size-m);
  font-weight: 700;
  letter-spacing: 0;
  line-height: 19.6px;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.idm-mod_manage_tab {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 8px 0px 0px;
  position: relative;
}

.tabs {
  align-items: flex-start;
  display: flex;
  gap: 24px;
  position: relative;
  width: fit-content;
}

.tab-button-base-1 {
  align-items: center;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-color: #581dff;
  display: flex;
  gap: 8px;
  justify-content: center;
  padding: 0px 4px 12px;
  position: relative;
  width: fit-content;
}

.text-2 {
  color: #581dff;
  font-family: var(--font-family-arial-bold);
  font-size: var(--font-size-l);
  font-weight: 700;
  line-height: 22.4px;
  margin-top: -2.00px;
}

.tab-button-base {
  align-items: center;
  display: flex;
  gap: 8px;
  justify-content: center;
  padding: 0px 4px 12px;
  position: relative;
  width: fit-content;
}

.text {
  color: #667084;
  font-family: var(--font-family-arial-regular);
  font-size: var(--font-size-l);
  font-weight: 400;
  line-height: 22.4px;
  margin-top: -1.00px;
}

.badge-1 {
  display: flex;
  position: relative;
  width: fit-content;
}

.frame {
  align-items: center;
  display: flex;
  position: relative;
}

.line-1 {
  min-width: 1px;
  object-fit: cover;
  position: relative;
}

.text-3 {
  letter-spacing: 0;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

</style>